#todo{
    padding-top: 30px;
}

* {
    font-family: 'Raleway', sans-serif;
}

#footer {
    position:fixed;
    bottom: 0px;
    height: 50px;
    background-color: white; 
    width: 100%
}

#tabla_productos {
    overflow: hidden;
}

.thum-bola {
    width:30px;
    height:30px;
}

#tabla_carrito td {
    background-color: almondwhite;
    padding:5px;
    margin-right:2px;
    font-family: 'Courier New';
    text-align: right;
    border-bottom: 1px solid lightblue;
}
