<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/r-2.1.1/datatables.min.css"/>
    
    <title>{% block title %}{% endblock %} - Pybolas</title>
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='notify.min.js') }}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/r-2.1.1/datatables.min.js"></script>
    
</head>
<body>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <script>$.notify('{{ message }}','info');</script>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <div id="todo" class="row">
     <div class="col-md-1"></div>
      <div class="col-md-10">
        <div id="menu">
            <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">Pybolas</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span><span id="num_items">
                    {% if session['num_items'] %}
                    {{session['num_items']}}
                    {% else %}
                    0
                    {% endif %}</span>
                </a></li>
                  {% if not session['usuario_definido'] %}
                  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
                  {% endif %}
                  {% if session['usuario_definido'] %}
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{session['nombre']}} {{session['apellidos']}}</a></li>
                  {% endif %}
         {% if not session['usuario_definido'] %}
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Acceder</a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
                           <div class="col-md-1"></div>
							<div class="col-md-9">	                                
								 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
										<div class="form-group">
											 <label class="sr-only" for="exampleInputEmail2">E-mail</label>
											 <input type="email" class="form-control" id="username" name="username" placeholder="tu email" required>
										</div>
										<div class="form-group">
											 <label class="sr-only" for="exampleInputPassword2">Contraseña</label>
											 <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
										</div>    
                                        <div class="form-group">
											 
											 <input type="submit" class="form-control" id="btn-acceder" value="Acceder"/>
										</div>  
								 </form>
							</div>   
                            <div class="col-md-2"></div>     
					 </div>
				</li>
			</ul>
        </li>
        {% else %}
            <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span>Salir</a></li>
        {% endif %}
               </ul>
              </div>
            </nav>
        </div>
        <div id="content" class="row">
        {% block content %}{% endblock %}
        </div>
        </div>
      <div class="col-md-1"></div>
    </div>
            <div id="footer" class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
            {% block footer %}&copy; José Pérez Moreno 2017</a>.
            {% endblock %}
            </div>
            <div class="col-md-1"></div>
    </div>
</body>
</html>
