{% extends "base.html" %}
{% block title %}Página de inicio{% endblock %}
{% block content %}
    <h1>Tienda virtual de bolas (hecha en Python/Flask)</h1>
    <p class="important">
      Bienvenido a nuestra página web
    </p>
    <div id="cont_carrito">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-8">
                <table id="tabla_carrito" class="table table striped"></table>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div id="cont_tabla_productos">
        <table class="table table-striped" id="tabla_productos">
        <tr>
            <th>Imagen</th>
            <th>Modelo</th>
            <th>Diámetro (mm)</th>
            <th>Material</th>
            <th>Color</th>
            <th>Brillo</th>
            <th>Precio</th>
            <th></th>
        </tr>
            {% for producto in productos %}
            <tr>
                <td><img class="thum-bola" src="{{producto.url_imagen}}"></img></td>
                <td>{{producto.modelo}}</td>
                <td>{{producto.diametro}}</td>
                <td>{{producto.material}}</td>
                <td>{{producto.color}}</td>
                <td>
                    {% if producto.brillo==1 %}
                        Brillo
                    {% else %}
                        Mate
                    {% endif %}
                </td>
                <td>{{'%0.2f' % ((producto.precio|float)*1.21)}} €</td>
                <td>
                    <button class="btn btn-success btn-aniadir" data-id="{{producto.id}}"><span class="glyphicon glyphicon-plus"></span></button>
                    <button class="btn btn-warning btn-restar"  data-id="{{producto.id}}"><span class="glyphicon glyphicon-minus"></span></button>
                    <button class="btn btn-danger btn-eliminar" data-id="{{producto.id}}"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
